@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply text-gray-800;
}

h1 {
  font-size: 2em;
  margin: 1em 0;
}

h2 {
  font-size: 1.5em;
  margin: 1.5em 0 .67em;
}

h3 {
  font-size: 1.25em;
  margin: 1.25em 0 .67em;
}

a {
  @apply text-indigo-500;
}

blockquote {
  @apply border-l-4 border-purple-300 pl-4 py-1 bg-blue-100;
}

blockquote p {
  margin: 0;
}

button {
  @apply px-4 py-1 bg-orange-400 text-white text-sm;
}

button:hover {
  @apply shadow-md;
}

article ul {
  list-style: initial;
  margin-bottom: 1rem;
  padding-left: 1.25em;
}

p {
  line-height: 1.6;
  margin-bottom: 1em;
}

code {
  @apply bg-gray-200 text-purple-400 rounded-sm px-1;
}

input {
  @apply border px-2;
}

.hljs {
  @apply mb-4 rounded-sm;
}

article {
  @apply p-4;
}

.table-of-contents ul {
  @apply mb-0;
}

@screen lg {
  article {
    padding-left: 22rem;
  }

  .table-of-contents {
    @apply fixed left-0 top-0 bottom-0 bg-purple-600 py-8 text-white overflow-y-auto;
    width: 18rem;
  }

  .table-of-contents ul {
    @apply list-none m-0 p-0;
    line-height: 2;
  }

  .table-of-contents li li {
    @apply pl-6;
  }

  .table-of-contents li li a {
    @apply border-l border-white;
  }

  .table-of-contents a {
    @apply pl-6 text-white block;
    line-height: 2.5rem;
  }

  .table-of-contents a:hover {
    @apply bg-purple-800;
  }
}

.Demo {
  @apply bg-blue-100 p-4 mb-1;
}

.Dropdown {
  @apply shadow-md absolute bg-white;
}
